.navbar{
    position: sticky;
    top: 0;
}
.seemore{
  height: 78px;
  width: 244px;
  background-image: linear-gradient(to bottom right,#0e91e8,#0ed2e8);
  border-radius: 30px;
  font-size: 51px;
  outline: none;
  margin-left: 219px;
  font-family: 'Lilita One';
  font: bolder;
}
.fa-solid{
    color: black;
}
.card-game{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.nunu{
  width: 32%;
  height: 70%;
  border-radius: 16px;
  margin-bottom: 99px;
}
.logotype{
  position: absolute;
  margin-left:-395px ;
  width: 7%;
  margin-top: 48px;
}
.nulogo{
  position: absolute;
  margin-left:-9% ;
  width: 7%;
  margin-top: 48px;
}
.logo1{
  position: absolute;
  margin-left:-584px ;
  width: 9%;
  margin-top: 77px;
}
.annie{
  position: absolute;
  height: 572px;
  right: 0;
}